<!DOCTYPE html>
{% load papers_extras %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ article.dissertation }}</title>
    <link rel="stylesheet" type="text/css" href="css/result.css">

</head>
<body>
	<div id="mainBody">
		<header>
            <div id="head">
                <nav>
                    <span>学术</span>
                    <ul id="headulleft">
                        <li><a href="">首页</a></li>
                        <li><a href="">发现</a></li>
                        <li><a href="http://www.baidu.com">关注</a></li>
                        <li><a href="mailto:x_jackzhang@qq.com">分类</a></li>
                    </ul>
                    

                    <ul id="headulright">
                        <li>
                        	<img src="./resources/head.jpg">
                        <a href="/users/login">你好，请登录</a>
                    </li>
                        <li>
                        	<a href="">评论</a>
                    </li>
                        <li>
                        	<a href="">私信</a>
                    </li>
                    </ul>
                </nav>
                
            </div>
        </header>

        <!-- 正文详情 -->
        <div id="paperBox">
        	<div id="title">
        		<h3>{{ article.dissertation }}</h3>
        		<span class="English">{{ article.dissertation_en }}</span>
        	</div>
        	<div id="usefulBox">
        		<ul>
        			<li id="download">
        				<img src="" alt="下载">
        			</li>
        			<li id="markdown">
        				<img src="" alt="收藏">
        			</li>
        			<li id="readAll">
        				<img src="" alt="阅读全文">
        			</li>
        			<li id="share">
        				<img src="" alt="分享">
        			</li>
        		</ul>
        	</div>
        	<div id="preview">
        		<p id="cnPreview">
                    <span class="preview">摘要：</span>
                    {{ article.abstract }}
                </p>
                <p id="enPreview">
                    <span class="preview">abstract：</span>
                    {{ article.abstract_en }}
                </p>
        	</div>
        	<div >
             <!--详情信息-->

				<ul class="info">
                	<li>
                		<div class="info_left">doi：</div>
                		<div class="info_right author">
                			<a href="" >{{ article.doi }}</a>
                		</div>
                	</li>
                	<li>
		                <div class="info_left">关键词：</div>
		            	<div class="info_right">
                            {% for keyword in article.keywords|split_underline %}
							<a href="" onclick="searchResult('perio','关键词:红芸豆')">{{ keyword }}</a>
                            {% endfor %}
		                </div>
           			</li>                
           			<li>
                		<div class="info_left">Keyword：</div>
                		<div class="info_right">
                            {% for keyword_en in article.keywords_en|split_underline %}
							<a href="" onclick="searchResult('perio','关键词:红芸豆')">{{ keyword_en }}</a>
                            {% endfor %}
                		</div>
            		</li>                
            		<li>
	                	<div class="info_left">作者：</div>
	                    	<div class="info_right">
                                {% for author in article.author|split_underline %}		
								<a id="card0" href="#" >author</a>
                                {% endfor %}
                                
	                    </div>
                	</li>
			
	                <li>
	                	<div class="info_left">作者单位：</div>
	                <div class="info_right">
						<a href="" >{{ article.author_unit }}</a>
	                </div>
	                </li>
                
                	<li>
                		<div class="info_left">刊名：</div>
                		<div class="info_right">
                			<a href="#" class="college" >{{ article.journal }}</a>
                		</div>
                	</li>
                
                
                	<li>
                		<div class="info_left">Journal：</div>
                		<div class="info_right author">
                			<a href="" >{{ article.journal_en }}</a>
               		    </div>
            		</li>

                	<li>
                		<div class="info_left">年，卷(期)：</div>
		                <div class="info_right">
		                		<a href="" >{{ article.journal_date }}</a>
		                </div>
            		</li>

	                <li>
	                	<div class="info_left">所属期刊栏目：</div>
		                <div class="info_right author">
		                	<a href="" >基础科学与方法</a>
		                </div>
	            	</li>
                
                	<li>
                		<div class="info_left">分类号：</div>
                		<div class="info_right author" >
								{{ article.classification }}
						</div>
					</li>

	                <li>
		                <div class="info_left">页数：</div>
		                <div class="info_right author">4 </div>
	                </li>

	                <li>
	                	<div class="info_left">页码：</div>
	                	<div class="info_right author">11-14</div>
	                </li>

				</ul>           

        	</div>
        	<div class="title" id="related">
            	<a href="" id="ywwl"  onclick="">引文网络</a>
                <a href="" id="xgwx"  onclick="">相关文献</a>
                <a href="" id="qtzy"  onclick="">其他资源</a>
            </div>
            <div id="content_ywwl">
            <!--引文网络-->
            </div>
         	<!--  相关文献 -->
          	<div id="content_xgwx">
            <!--相似论文-->
        	</div>
        	<div id="content_qtzy">
            <!--其他资源-->
        	</div>
            
            {% if user.is_authenticated %}
            <form action="{% url 'comments:comment' %}" method="post" >
                {% csrf_token %}
                <p>您已登录，可评论</p>
                <p>{{ comment_form.text }}</p>
                <button type="submit" value="发表">发表</button>
                <input type="hidden" name="user_id" value="{{ user.id }}"/>
                <input type="hidden" name="article_id" value="{{ article.id }}"/>
            </form>
            {% else %}
                  <p>发表评论，请
                    <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">登录</a></button>
                    或者
                    <button class="btn btn-default"><a href="{% url 'users:register' %}?next={{ request.path }}">注册</a></button>
                  </p>
            {% endif %}
            
            <div class="reference">
            	<div class="subject">
            		<span>相关论文</span>
            		<span class="detailsBotWarn">(与本文研究主题相同或者相近的论文)</span>
            	</div>
                <div class="journal" id="papersLikely">
                	<ul>
                		<li>...</li>
                		<li>...</li>
                		<li>...</li>
                		<li>...</li>
                	</ul>
                </div>
            </div>
        </div>
    </div>
	
</body>
</html>